# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# output directory
/dist

# environment variables
.env
.env.*

# IDE or editor files
.idea/
.vscode/
*.code-workspace
*.iml

# misc
.DS_Store
