@import "index.scss";

#login {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: $black-low;
  gap: 20rem;
  align-items: center;
  flex-wrap: 1;

  header {
    background-color: $black-mid;
    border-radius: 0.5rem;
    width: 20rem;
    height: 11rem;
    color: $white-mid;
    box-shadow: 0 2px 4px RGB(0 0 0 / 10%), 0 0.5rem 1rem RGB(0 0 0 / 10%);
    padding-left: 2rem;
    box-sizing: border-box;
  }

  #login-container {
    border: none;
    width: 20rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 4px RGB(0 0 0 / 10%), 0 0.5rem 1rem RGB(0 0 0 / 10%);

    #login-button {
      border: none;
      background: none;
      color: darkblue;
      text-decoration: underline;
    }

    .login-register-form {
      display: flex;
      flex-direction: column;

      #error {
        color: red;
        height: 1rem;
        padding: 0.5rem 0;
      }
    }
  }
}

@media (max-width: 75rem) {
  #login {
    flex-direction: column;
    gap: 5rem;
  }
}
